* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://m.media-amazon.com/images/I/61IHLDjNYoL._SL1000_.jpg);
  background-size: cover;
  background-position: center;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 4rem;
  padding: 12px;
  font-family: Algerian;
  color: #fcfcfc;
}

.navbar {
  background-color: #6F4E37;
  padding: 20px;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #e0e0e0;
}

.content {
  background-color: #fff;
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
}

.footer {
  background-color: #6F4E37;
  text-align: center;
  padding: 40px;
  color: #fff;
}

.footer p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header h1 {
    font-size: 3rem;
    padding: 6px;
  }

  .navbar {
    width: auto;
    padding: 10px;
    position: static;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }

  .footer {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  .header h1 {
    font-size: 2rem;
    padding: 4px;
  }

  .navbar {
    width: auto;
    padding: 5px;
    position: static;
  }

  .content {
    margin-left: 0;
    padding: 5px;
  }

  .footer {
    padding: 10px;
  }
}
