* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://m.media-amazon.com/images/I/61IHLDjNYoL._SL1000_.jpg); 
  background-size: cover;
  background-position: center;
  color: #333;
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 100%;
  padding: 20px;
  flex-grow: 1;
}

.header {
  text-align: center;
  padding: 20px 10px;
}

.header h1 {
  font-size: 35px;
  padding: 12px;
  font-family: Algerian;
  color: #fcfcfc;
}

.navbar {
  background-color: #6F4E37;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  margin-top: 20px;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #e0e0e0;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
}

.footer {
  background-color: #6F4E37;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}
